.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.header {
  font-size: 4rem;
  line-height: 1em;
}
.headerMobile {
  display: none;
}
.notes {
  margin-top: 1em;
}
/** Mobile view */
@media screen and (max-width: 996px) {
  .header {
    display: none;
  }
  .headerMobile {
    display: block;
    font-size: 3rem;
    line-height: 1em;
  }
}
