.features {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgb(92, 186, 224);
  background: linear-gradient(
    180deg,
    rgba(92, 186, 224, 1) 0%,
    rgba(97, 191, 229, 1) 25%
  );
}

.featureSvg {
  width: 300px;
  height: 300px;
}
.title {
  font-size: 2.3rem;
  text-align: center;
}
.description {
  font-size: 1.5rem;
  text-align: center;
}
.featureHeader {
  letter-spacing: 0.025rem;
  font-size: 1.5rem;
}
.featureContainer {
  padding: 1.5rem 3rem 8rem 3rem;
}
.featureDescription {
  font-size: 0.9rem;
}
@media screen and (max-width: 996px) {
  .featureContainer {
    padding: 0 3rem 5rem;
  }
}
