.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.profilePic {
  height: auto;
  width: 200px;
}

.header {
  font-size: 60px;
  text-align: center;
}

.linkContainer {
  text-align: center;
}

.linkItems {
  display: inline-block;
  margin: 0 10px;
}
.linkItems:before {
  width: 24px;
  height: 24px;
}
