.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: rgb(92, 186, 224);
  background: linear-gradient(
    180deg,
    rgba(92, 186, 224, 1) 0%,
    rgba(97, 191, 229, 1) 25%
  );
  padding-bottom: 8rem;
}

.profilePic {
  height: auto;
  width: 200px;
}

.header {
  font-size: 60px;
  text-align: center;
}

.linkContainer {
  text-align: center;
}

.linkItems {
  display: inline-block;
  margin: 0 10px;
}
.linkItems:before {
  width: 24px;
  height: 24px;
  background-color: #003257;
}
