.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.header {
  font-size: 3rem;
  text-align: left;
}
.styledHr {
  margin: 70px 0;
  height: 2px;
}
.wrapper {
  margin: 50px auto;
}
.img {
  border: 1px solid;
}
.oddContainer {
  flex-direction: row-reverse;
}
